/* CadastroPartida.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fdf6e3; /* cor de areia */
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    color: #ff8c00; /* cor de destaque, como o sol */
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  input, select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ffa500;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    padding: 10px;
    background-color: #ffa500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ff8c00;
  }
  
