/* /* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
} */
.cadastro-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Para centralizar verticalmente */
}

.menu-button {
  position: fixed; /* Muda para fixed para ficar sempre no canto */
  top: 20px;
  left: 20px;
  background-color: #87CEEB;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 100; /* Para garantir que o botão fique acima de outros elementos */
  width: 80px;
  text-align: center;
}

.menu {
  position: fixed; /* Muda para fixed para manter o menu no canto */
  top: 60px; /* Abaixo do botão de menu */
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Para garantir que o menu fique acima de outros elementos */
  padding: 10px;
}

.menu a {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.cadastro-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

img {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
}

/* input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
} */

.senha-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

button {
  background-color: #87CEEB;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #66CCCC;
}

.terms, .login {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 
