.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #ffc107;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.partidas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partida-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.btn-favoritar {
    background-color: #ff5722;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
.rotas{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}